.Sidebar {
  height: calc(100vh - 90px); /* Sidebar ka height - Navbar ka height */
  width: 250px;
  background-color: #1e1e1e;
  transition: width 0.3s ease;
  position: relative;
}

.Sidebar.closed {
  width: 80px;
}

.Sidebar .toggle-button {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
  z-index: 1;
  color: #ffffff;
}

.Sidebar .SideLst {
  /* margin-top: 60px; */
  padding: 0;
  height: calc(100% - 60px);
  overflow: auto;
}

.Sidebar.closed .SideLst #title {
  display: none;
}

.SideLst .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.SideLst .row:hover .Link {
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .Sidebar {
    width: 120px;
  }

  .Sidebar.closed {
    width: 80px;
  }

  .SideLst .row {
    justify-content: flex-start;
  }

  .row #icon {
    flex: 40%;
  }

  .row #title {
    flex: 60%;
    font-size: 14px;
  }
}

/* no guarantee responsive */
@media (max-width: 480px) {
  .Sidebar {
    width: 80px;
  }

  .Sidebar.closed {
    width: 80px;
  }

  .row #icon {
    flex: 100%;
    justify-content: center;
  }

  .row #title {
    display: none;
  }
}

.Link {
  margin-top: 0; /* Remove margin fit karayla */
  color: #ffffff;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Link.active {
  font-weight: bold;
}
